<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Chefulate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BDDCC8B11DAD42400003D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDCC8C81DAD42400003D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BDDCC8D31DAD42400003D984</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
